name: CI

on:
  push:
    branches: [ main ]
  pull_requests:
    branches: [ main ]
  
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest


  test:
    name: Test
    runs-on: ubuntu-latest
    needs: lint
    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: tasks
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --healthy-interval 10s
          --health-timeout 5s
          --health-retries 5

      steps:
      - uses: actions/checkout@v3

      - name: Set up Go 
        uses: actions/setup-go@v4
        with:
          go-verison: '1.24'

      - name: Verify dependencies
        run: go mod verify

      - name: Run Tests
        run: go test -v ./internal/usecase/...
        env:
          PG_URL: postgres://user:password@localhost:5432/tasks?sslmode=disable